@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-cormorant: "Cormorant Garamond", serif;
  --font-manrope: "Manrope", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-brand-green: #1A3C34;
  --color-brand-cream: #FEF7EA;
  --font-brand-cormorant: var(--font-cormorant);
  --font-brand-manrope: var(--font-manrope);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--brand-green);
  font-family: var(--font-brand-manrope);
}
